[data-review-topic="true"] table {
  width: 100%;
}
[data-review-topic="true"] table th {
  text-align: left;
  width: 50%;
}
[data-review-users="true"] span {
  white-space: pre;
  display: inline-block;
  margin-bottom: 4px;
}
[data-review-featured-topics="true"] h3 {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 4px;
}
