[data-review-topic-users="true"] table,
[data-review-featured-topics="true"] table {
  width: 100%;
}
[data-review-topic-users="true"] table th {
  text-align: left;
  width: 50%;
}
[data-review-users="true"] span {
  white-space: pre;
  display: inline-block;
  margin-bottom: 4px;
}
[data-review-featured-topics="true"] table td:first-child {
  width: 10%;
}
[data-review-featured-topics="true"] table td:nth-child(2) {
  width: 60%;
}
[data-review-featured-topics="true"] table td:last-child {
  width: 30%;
}
