<div data-review-featured-topics="true">

## <%= raw(category_link(@category_topics[:category_name])) %>
  <% @category_topics[:topics].each do |key, val| %>
### <%= t("yearly_review.rank_type.title.#{key}") %>

<%= table_header('user', 'topic', "rank_type.action_types.#{key}") %>
|---|---|---|
    <% val.each do |topic| %>
<%= table_row(avatar_image(topic.username, topic.uploaded_avatar_id), topic_link(topic.title, topic.topic_slug, topic.id), format_number(topic.action_count.round)) %>
    <% end %>

  <% end %>
</div>
